<div class="container-fluid bg-principal">

  <div class="row d-flex justify-content-center">
    <div class="col-md-6 d-flex">
      <h1 class="fc-principal ff-principal mt-5 ml-5">Inspire-se</h1>
    </div>
  </div>

  <div class="container caixa p-1">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4 d-flex align-self-center justify-content-center">
        <p class="fc-principal ff-principal">
          Conheça a história de algumas mulheres maravilhosas que nos mostram a cada dia o quanto é possível seguir uma carreira de sucesso na área de tecnologia.</p>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img src="https://i.imgur.com/FAFvs6N.png" alt="Super-mulheres" width="400px">
      </div>
    </div>
  </div>

  <div class="container caixa2 p-1">
    <div class="m-5">
      <p class="fc-principal ff-principal fs-18">Aurea Azevedo — Fundadora e CEO da Agile4life</p>
      <iframe src="https://drive.google.com/file/d/1BzFeZbw0yelwdibcfbCnx6Pr2LKT_1o3/preview" width="480" height="320"></iframe>
      </div>
  </div>

  <div class="container caixa3">
    
  </div>

</div>
