<nav class="navbar navbar-expand-lg navbar-light bg-color">
    <button
    class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item">
          <img src="https://media.discordapp.net/attachments/819655201350090843/836318869324824606/final.png?width=361&height=512" alt="Logo" width="40px" height="20px" class="img-fluid rounded-circle">
        </li>

        <li class="nav-item">
          <p class="nav-item f-logo p-1 mt-3 ff-principal fc-principal">BEEqualité</p>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link ff-principal " href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ff-principal" href="#">PERFIL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ff-principal" routerLink='/inspire-se'>INSPIRE-SE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ff-principal" href="#">CONTATOS</a>
        </li>
      </ul>
    </div>

    <!--Sair-->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
          <a (click)='sair()' class="m-0 ff-principal">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
    </ul>
    </div>
  </nav>
