.fs-16{
  font-size: 16pt;
}

a {
  cursor: pointer;
}

ul li a:focus {
  color: #FFEB99;
}

.bg-color{
  background-color: #11111d;
}

.fc-principal {
  color: #FFC62A;
}

.ff-principal {
  font-family: 'Righteous', sans-serif;
}

ul li a {
  color: #FFC62A;
}

ul li a:hover {
  color: #FFEB99;
  text-decoration: none;
}


