.bg-principal {
    background-color: #181829;
    width: auto;
    height: auto;
    position: relative;
    background-size: cover;
    
  }
  
  .bg-secundaria {
    background-color: #242434;
  }
  
  .fc-principal {
    color: #FFC62A;
  }
  
  .fc-secundaria {
    color: #FFEB99;
  }
  
  .ff-principal {
    font-family: 'Righteous', sans-serif;;
  }
  
  .fs-18 {
    font-size: 18px;
  }
  
  .fs-14 {
    font-size: 14px;
  }
  
  .caixa {
    background-color: #242434;
    border-radius: 15px;
    height: 400px;
    width: 800px;
    display: flex;
    margin-bottom: 20px;
  }
  
  .caixa2 {
    background-color: #242434;
    border-radius: 15px;
    height: 500px;
    width: 800px;
    margin-bottom: 20px;
    margin-left: 100px;
  }
  
  .caixa3 {
    background-color: #242434;
    border-radius: 15px; 
    height: auto;
    width: auto;
    margin-bottom: 20px;
    justify-items: auto;
    
  }
  
  a {
    cursor: pointer;
  }
  
  ul.contato {
    list-style: none;
    padding: 0;
  }
  
  .fab {
    font-size: 30pt;
    color: #0e76a8;
    padding: 10px;
  }
  
  .fa-linkedin:hover {
    color: #FFC62A;
  }
  
  .mt-7 {
    margin-top: 7.5rem;
  }
  
  .ml-6 {
    margin-left: 6.5rem;
  }
  
  .ml-9 {
    margin-left: 9rem;
  }

  .bg-colmeia{
    background-image: url(https://imgur.com/fyMOBfj.png);
    
  }

  .caixa-form {
    background-color: #242434;
    margin: 20px;
    margin-top: 9px;
    margin-bottom: 0px;
    padding: 30px;
    padding-top: 25px;
    border-radius: 15px;
}

input[type=text] {
    border-radius: 25px;
    border: 2px solid #FFC62A;
    background-color: #242434;
    font-family: 'Righteous', sans-serif;
}

.btn {
    background-color: #FFC62A;
    border-radius: 25px;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Righteous', sans-serif;
    
    
}

.btnc{
  background-color: #ff2a2a;
  border-radius: 25px;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Righteous', sans-serif;
}
