.bg-principal {
  background-color: #181829;
  height: auto;
  width: auto;
}

.bg-secundaria {
  background-color: #242434;
}

.bg-amarelo{
  background-color: #FFEB99;
}

.fc-principal {
  color: #FFC62A;
}

.fc-secundaria {
  color: #FFEB99;
}

.ff-principal {
  font-family: 'Righteous', sans-serif;
}

.corpotext{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.fs-18 {
  font-size: 18px;
}

.fs-14 {
  font-size: 14px;
}

.caixa1 {
  background-color: #242434;
  border-radius: 15px;
  height: 400px;
  width: 15%;
  margin-bottom: 20px;
}

.caixa2 {
  background-color: #242434;
  border-radius: 15px;
  height: 400px;
  width: 60%;
  margin-bottom: 20px;
}

.card {
  background-color: #242434;
  border-radius: 15px;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  min-height: 200px;
  min-width: 50px;
  max-height: auto;
  padding-bottom: 20px;
  justify-content: center;
  color: #FFC62A;
  font-family: 'Righteous', sans-serif;
  border-color: #FFC62A;
}

.card-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.btn {
  background-color: #FFC62A;
  border-radius: 25px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Righteous', sans-serif;
  border-style: solid;
  border-color: #FFC62A;
  border-width: 2px;
}

.btn-danger-css{
  background-color: #ff2a2a;
  border-radius: 25px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Righteous', sans-serif;
  color: #fff;
  border-style: solid;
  border-color: #ff4a2a;
  border-width: 2px;
}

.btn-danger-css:hover{
  background-color: #e95757;

}

.btn-outline {
  background-color: #FFEB99;
  border-radius: 25px;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Righteous', sans-serif;
  color: #242434;
  border-style: solid;
  border-color: #FFEB99;
  border-width: 2px;
}

.btn:hover {
  background-color: #FFEB99;
}

.btn-outline:hover {
  background-color: #FFC62A;
}

.fc-principal {
  color: #FFC62A;
}

.fc-secundaria {
  color: #FFEB99;
}

.ff-principal {
  font-family: 'Righteous', sans-serif;;
}

.fs-35 {
  font-size: 35px;
}

.fs-24 {
  font-size: 24px;
}

.mt-20{
  margin-top: 5rem;
}

.nav-css{
  font-family: 'Righteous', sans-serif;
  font-size: 18px;
  color: #FFC62A;
  font: bold;
  background-color: #242434;
}

.nav-css:hover{
  background-color: #FFEB99;
}

.nav-tabs{
  border: none;
}

.fundoImg{
  background-image: url('https://i.imgur.com/jIPxn9p.png');
  background-repeat: no-repeat;
  background-size:10%;
  bottom: 0;
  color: black;
  left: 0;
  overflow: auto;
  padding: 3em;
  position: absolute;
  right: 0;
  top: 80;
  background-size: cover;
}

input[type=text] {
  border-radius: 25px;
  border: 2px solid #FFC62A;
  background-color: #242434;
  font-family: 'Righteous', sans-serif;
  padding-left: 10px;
  padding-right: 5px;
}

textarea {
  border-radius: 25px;
  border: 2px solid #FFC62A;
  background-color: #242434;
  font-family: 'Righteous', sans-serif;
}

select {
  border-radius: 25px;
  border: 2px solid #FFC62A;
  background-color: #242434;
  font-family: 'Righteous', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  border-radius: 25px;
  border: 2px solid #FFC62A;
  background-color: #242434;
  font-family: 'Righteous', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
}
