<div class="container-fluid bg-principal">

  <div class="row d-flex justify-content-center">

    <!--Coluna de perfil-->
    <div class="col-md-2 d-flex caixa1 mt-4 ml-4">

      <div class="row d-flex justify-content-center">
        <div class="col-md-12 d-flex justify-content-center p-4">
          <img src="{{foto}}" alt="Imagem de usuário" width="180px" height="180px" class="img rounded-circle">
        </div>

        <div class="col-md-12 text-center">
          <p class="fc-principal ff-principal fs-18">{{nome}}</p>
        </div>
      </div>

    </div>
    <!--Fim coluna de perfil-->

    <div class="col-md-8 d-flex caixa2 mt-4 ml-4">
      <h1>oi</h1>
    </div>

  </div>

</div>
