.bg-principal {
  background-color: #181829;
  width: 100%;
}

.bg-secundaria {
  background-color: #242434;
}

.fc-principal {
  color: #FFC62A;
}

.fc-secundaria {
  color: #FFEB99;
}

.ff-principal {
  font-family: 'Righteous', sans-serif;;
}

.fs-18 {
  font-size: 18px;
}

.fs-14 {
  font-size: 14px;
}

.caixa1 {
  background-color: #242434;
  border-radius: 15px;
  height: 400px;
  width: 15%;
  display: flex;
  margin-bottom: 20px;
}

.caixa2 {
  background-color: #242434;
  border-radius: 15px;
  height: 400px;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.btn {
  background-color: #FFC62A;
  border-radius: 25px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Righteous', sans-serif;
}

.btn-outline {
  background-color: #FFEB99;
  border-radius: 25px;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Righteous', sans-serif;
  color: #242434;
}

.fc-principal {
  color: #FFC62A;
}

.fc-secundaria {
  color: #FFEB99;
}

.ff-principal {
  font-family: 'Righteous', sans-serif;;
}

.fs-35 {
  font-size: 35px;
}

.fs-24 {
  font-size: 24px;
}

.mt-20{
  margin-top: 5rem;
}

.mb-8 {
  margin-bottom: 10rem;
}

a[aria-selected="true"] {
  border-radius: 15px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
}
