.bg-principal {
  background-color: #181829;
}

.fc-principal {
  color: #FFC62A;
}

.ff-principal {
  font-family: 'Righteous', sans-serif;;
}

.caixa {
  background-color: #242434;
  border-radius: 15px;
  height: 250px;
  width: 800px;
  display: flex;
  margin-bottom: 70px;
}

.caixa2 {
  background-color: #242434;
  border-radius: 15px;
  height: 150px;
  width: 400px;
  margin-bottom: 20px;
  margin-left: 270px;
  display: flex;
}

.caixa3 {
  background-color: #242434;
  border-radius: 15px;
  height: 290px;
  width: 400px;
  margin-bottom: 20px;
  margin-right: 270px;
}

.caixa4 {
  background-color: #242434;
  border-radius: 15px;
  height: 120px;
  width: 400px;
  margin-bottom: 0px;
  margin-left: 270px;
  display: flex;
}