<!--
<div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col align-self-start m-5">
        <h3 class="font">MISSÃO</h3>
        <p class="font-texto">Empoderar,  incentivar e incluir mulheres no meio tecnológico, com o objetivo de combater a desigualdade de gênero.</p>
        </div>
             
      <div class="col align-self-center m-5">
        <h3 class="font">VALORES</h3>
        <ul class="font-texto">
            <li>Tecnologia</li>
            <li>Empatia</li>
            <li>Comunidade focada em empregabilidade</li>
            <li>Protagonismo</li>
            <li>Favorecer a justiça social na empresa</li>
            <li>Valorização e desenvolvimento profissional feminino</li>
            <li>Dedicação para com a qualidade e melhoramento pessoal</li>
        </ul>
      </div>
     </div>

     <div class="row d-flex justify-content-center">
         <div class="col align-self-start m-5">
        <h3 class="font">VISÃO</h3>
        <p class="font-texto">Consolidar-se como o mais influente grupo de inclusão de mulheres.</p>
        </div>
     </div>
  </div>
-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3 class="font">MISSÃO</h3>
            <p class="font-texto">Empoderar,  incentivar e incluir mulheres no meio tecnológico, com o objetivo de combater a desigualdade de gênero.</p>
        </div>

        <div class="col-md-6">
            <h3 class="font">VALORES</h3>
            <ul class="font-texto">
                <li>Tecnologia</li>
                <li>Empatia</li>
                <li>Comunidade focada em empregabilidade</li>
                <li>Protagonismo</li>
                <li>Favorecer a justiça social na empresa</li>
                <li>Valorização e desenvolvimento profissional feminino</li>
                <li>Dedicação para com a qualidade e melhoramento pessoal</li>
            </ul>          
        </div>
    </div>

        <div class="col-md-6 mt-5 mb-5">
            <h3 class="font">VISÃO</h3>
            <p class="font-texto">Consolidar-se como o mais influente grupo de inclusão de mulheres.</p>
        </div>
</div>
