<div class="container-fluid bg-principal">

    <div class="row d-flex justify-content-center">
        <div class="d-flex">
            <h1 class="fc-principal ff-principal mt-5">Sobre o Projeto</h1>
        </div>
    </div>

    <div class="container-fluid caixa">
        <div class="row d-flex">
          <div class="align-self-center justify-content-center">
            <p class="fc-principal ff-principal mr-3 ml-3 mt-3">
                BEEqualité é uma rede social criada para desenvolver e inserir mulheres no mercado tecnológico, que foi observado na quinta ODS da Onu, sobre igualdade de gênero e mapeado no mercado que mulheres no mercado tecnológico são minoria, e as que estão nesse mercado passa por situações de exclusão, por isso nascemos nosso intuito é mostrar que essa área é para você!
            </p>
          
            <p class="fc-principal ff-principal mr-3 ml-3">
                Temos uma parte de networking para se comunicar e se inteirar sobre as novidades desse mercado como cursos, palestras, workshops e indicações de vagas, possibilitando você falar com mulheres do mundo inteiro que estão passando pelo mesmo que você. Além da nossa aba de Inspira-se com casos reais de mulheres que estão vencendo nesse mercado!
            </p>
          </div>
        </div>
    </div>

    <div class="container caixa2">
        <div class="row d-flex">
            <div class="align-self-center justify-content-center mr-3 ml-3 mt-3">
                <h3 class="fc-principal ff-principal">Missão</h3>
                <p class="fc-principal ff-principal">Empoderar,  incentivar e incluir mulheres no meio tecnológico, com o objetivo de combater a desigualdade de gênero.</p>
            </div>
        </div>
    </div>

    <div class="container caixa3">
            <div class="row d-flex">
                <div class="align-self-center justify-content-center mr-3 ml-3 mt-3">
                    <h3 class="fc-principal ff-principal">Valores</h3>
                    <ul class="fc-principal ff-principal">
                        <li>Tecnologia</li>
                        <li>Empatia</li>
                        <li>Comunidade focada em empregabilidade</li>
                        <li>Protagonismo</li>
                        <li>Favorecer a justiça social na empresa</li>
                        <li>Valorização e desenvolvimento profissional feminino</li>
                        <li>Dedicação para com a qualidade e melhoramento pessoal</li>
                    </ul>          
                </div>             
            </div>
     </div>

     <div class="container caixa4">
        <div class="row d-flex">
            <div class="align-self-center justify-content-center m-3">
                <h3 class="fc-principal ff-principal">Visão</h3>
                <p class="fc-principal ff-principal">Consolidar-se como o mais influente grupo de inclusão de mulheres.</p>
            </div>
        </div>
    </div>
</div>

    

        
   

