<div class="container-fluid fundoImg bg-principal">
    <div class="row d-flex justify-content-center">


        <div class="col-md-12 mt-5 mb-3">
            <h1 class="fc-principal ff-principal fs-40 text-center">Contatos</h1>
        </div>

        <div class="col-md-8 m-2 d-flex justify-content-center caixa2">
            <p class=" ff-principal fc-secundaria fs-14">
                Equipe de desenvolvimento da empresa equaiteSix, conta com
                pessoas diversas num ambiente igualitário, essa familia composta por seis profissionais deram vida à
                rede social BEEqualité que não só faz difenrença na vida de quem compartilha, como também gera inclusão
                de mulheres no mercado tecnologico! </p>
        </div>
        <div class="col-md-8 m-2 d-flex justify-content-center">
            <p class=" ff-principal fc-secundaria fs-14">
                Se gostou desse trabalho entre em contato!
            </p>
        </div>



        <!--Cards de contato! Primeira Linha-->

        <div class="container mt-5">

            <div class="card-deck">
                <!--Jeniffer-->
                <div class="card caixa d-flex justify-content-center">
                    <div class="row align-self-center">
                        <img class="card-img-top img-radius mt-2" src="/assets/img/perfil/jeniffer.jpg"
                            alt="Imagem da jeniffer">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title ff-principal fc-principal fs-18 text-center">Jeniffer Campos</h5>
                        <p class="card-text ff-principal fc-secundaria fs-14">Desenvolvedora Web Full
                            Stack Java Jr - Generation Brasil | Graduando em Universidade Federal do ABC - UFABC -
                            Bacharelado em Ciência e Tecnologia</p>

                        <ul class="contato d-flex justify-content-center">
                            <li>
                                <a href="https://www.linkedin.com/in/jeniffer-campos-187738157/" target="_blank"
                                    class="ico-linkedin p-4">
                                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                                </a>

                                <a href="https://github.com/Jeniffersc" target="_blank" class="ico-github p-4">
                                    <i class="fab fa-github-alt" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Fim da Jeniffer-->

                <!--Larissa-->
                <div class="card caixa d-flex justify-content-center">
                    <div class="row align-self-center">
                        <img class="card-img-top img-radius mt-2" src="/assets/img/perfil/larissa.jpg"
                            alt="Imagem da Larissa">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title ff-principal fc-principal fs-18 text-center">Larissa M. Reis</h5>
                        <p class="card-text ff-principal fc-secundaria fs-14">Desenvolvedora Web Full
                            Stack Java Jr - Generation Brasil | Graduando em Centro Universitário Senac SP. Produção
                            Multimídia</p>

                        <ul class="contato d-flex justify-content-center">
                            <li>
                                <a href="https://www.linkedin.com/in/larissamreis/" target="_blank"
                                    class="ico-linkedin p-4">
                                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                                </a>

                                <a href="https://github.com/laroreis" target="_blank" class="ico-github p-4">
                                    <i class="fab fa-github-alt" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Fim da Larissa-->

                <!--Mariana-->
                <div class="card caixa d-flex justify-content-center">
                    <div class="row align-self-center">
                        <img class="card-img-top img-radius mt-2" src="/assets/img/perfil/mariana.jpg"
                            alt="Imagem da Mariana">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title ff-principal fc-principal fs-18 text-center">Mariana Salvarani</h5>
                        <p class="card-text ff-principal fc-secundaria fs-14">Desenvolvedora Web Full
                            Stack Java Jr - Generation Brasil | Impacta Tecnologia
                            Diploma Graduação Análise e Desenvolvimento de Sistemas</p>

                        <ul class="contato d-flex justify-content-center">
                            <li>
                                <a href="https://www.linkedin.com/in/mariana-salvarani-da-silva-a005ab14b/"
                                    target="_blank" class="ico-linkedin p-4">
                                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                                </a>

                                <a href="https://github.com/marisalvarani" target="_blank" class="ico-github p-4">
                                    <i class="fab fa-github-alt" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Fim da Mariana-->

            </div>
        </div>



        <!-- Fim Card contato Primeira Linha-->


        <!--Card contato Segunda Linha-->


        <div class="container d-flex justify-content-center">
          <div class="col-md-8">
            <div class="card-deck">

                <!--Igor-->
                <div class="card caixa d-flex justify-content-center">
                    <div class="row align-self-center">
                        <img class="card-img-top img-radius mt-2" src="/assets/img/perfil/igor.jpg"
                            alt="Imagem do Igor">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title ff-principal fc-principal fs-18 text-center">Igor Pereira</h5>
                        <p class="card-text ff-principal fc-secundaria fs-14">Desenvolvedor Web Full
                            Stack Java Jr - Generation Brasil</p>

                        <ul class="contato d-flex justify-content-center">
                            <li>
                                <a href="https://www.linkedin.com/in/igorjps/" target="_blank"
                                    class="ico-linkedin p-4">
                                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                                </a>

                                <a href="https://github.com/igorpdev" target="_blank" class="ico-github p-4">
                                    <i class="fab fa-github-alt" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Fim do Igor-->

                <!--Johnny-->
                <div class="card caixa d-flex justify-content-center">
                    <div class="row align-self-center">
                        <img class="card-img-top img-radius mt-2" src="/assets/img/perfil/johnny.jpg"
                            alt="Imagem do Johnny">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title ff-principal fc-principal fs-18 text-center">Johnny Alison</h5>
                        <p class="card-text ff-principal fc-secundaria fs-14">Desenvolvedor Web Full
                            Stack Java Jr - Generation Brasil | Graduado Anhanguera Educacional (CST) Gestão da Qualidade</p>

                        <ul class="contato d-flex justify-content-center">
                            <li>
                                <a href="https://www.linkedin.com/in/johnny-alison/" target="_blank"
                                    class="ico-linkedin p-4">
                                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                                </a>

                                <a href="https://github.com/johnny-rizzo" target="_blank" class="ico-github p-4">
                                    <i class="fab fa-github-alt" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Fim do Johnny-->

            </div>
          </div>
        </div>

        <!-- FIM Card contato Segunda Linha-->

    </div>

</div>
